@import "tailwindcss";


@theme {
  --breakpoint-3xl: 120rem;
  --color-primary: #ee00e3;
  --color-base: #f1f1f1;
  --color-secondary: #0011ef;
  --color-accent: #0013e3;
  --text-medium: 16px;
  --text-small: 13px;
}